<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="board">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>

    <div class="menu">
        <div class="comment item"></div>
        <div class="reset item" style="display: none;">
            <button type="button">もう一度</button>
        </div>
        <div class="finish item" style="display: none;">
            <button type="button">対戦を終了</button>
        </div>
    </div>

    <script>
        const hostname = '<%= hostname %>';
        const port = '<%= port %>';
    </script>
    <script type="text/javascript" src="/javascripts/tictactoe.js"></script>
</body>

</html>
