<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <label for="message">メッセージを入力:</label>
        <input type="text" id="message" />
        <button id="sendButton">送信</button>
    </div>
    <div id="messages"></div>

    <script>
        const ws = new WebSocket('ws://localhost:3000');

        ws.addEventListener('open', () => {
            console.log('Connected to server');
        });

        ws.addEventListener('message', (event) => {
            const messagesDiv = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `Received: ${event.data}`;
            messagesDiv.appendChild(messageElement);
        });

        ws.addEventListener('close', () => {
            console.log('Connection closed');
        });

        document.getElementById('sendButton').addEventListener('click', () => {
            // サーバーとの通信
            const messageInput = document.getElementById('message');
            const message = messageInput.value;
            if (message) {
                ws.send(message);
                messageInput.value = '';
            }
            // 自身の処理
            const messagesDiv = document.getElementById('messages');
            const messageElement = document.createElement('div');
            messageElement.textContent = `Send: ${message}`;
            messagesDiv.appendChild(messageElement);
            console.log(`send: ${message}`);
        });
    </script>
</body>

</html>
